<footer class="mb-0">
    <div class="bg-purple-900 text-white text-center block lg:flex">
        <p class="small my-0 pt-4">© 2024 Inkless. All Rights Reserved.</p>
        <p class="mb-0 pb-5 ml-auto mr-3">
            <a href="/about" class="text-white text-decoration-underline">About</a> | 
            <a href="/policy" class="text-white text-decoration-underline">Privacy Policy</a> | 
            <a href="/tos" class="text-white text-decoration-underline">Terms of Service</a>
        </p>
    </div>
  </footer>